<form name="ForgetpasswordForm">
<div class="login_right_cont" >
    <input ng-model="txtEmail" id="txtEmail" class="form-control mar_zero logininput_tag"  name="txtEmail"
        type="text" placeholder="Email" autofocus /> 
    <div class="mar_zero">  
        <input type="submit" class="btn btn-primary login_but new-ticket pull-right padd_new" ng-model="forgetpass" ng-click="forgetpasswordcheck();" value="Submit"/>
        <input type="button" class="btn btn-primary login_but new-ticket pull-right" ng-model="forgetpassrefresh" ng-click="refreshforgetpassword();" value="Back"/> 
             
    </div>
</div>
</form>
