<form name="changePasswordForm">
<div class="login_right_cont">
    <input data-ng-model="newPassword" class="form-control mar_zero passInput" name="newPassword" id="txtnewPass" password-strength="newPassword" 
        type="password" placeholder="New Password" required autofocus />
          <span  data-ng-class="strength">{{strengthMsg}}  </span>
    <input data-ng-model="confirmPassword" class="form-control mar_zero passInput" name="txtConfirmPass"
        type="password" placeholder="Confirm Password" required />
    <div class="mar_zero pull-left orange" >
        <p  style="font-weight: bold;">
            Password complexity:
            <br />
            1. Password must contain atleast one uppercase letter [A-Z]<br />
            2. Atleast one lowercase letter [a-z]<br />
            3. Atleast one number [0-9] and have a minimum length of 6 characters<br />
            4. Allowed symbols are !@#$%^&*()<br />
        </p>
        <input type="submit" class="btn btn-primary login_but " value="Change"
        ng-click="changePassword(changePasswordForm.$valid);"/>
    <input type="Reset" class="btn btn-primary login_but " ng-click="reset();" value="Reset"/>&nbsp;
    
    </div>
    <div class="clearfix">
    </div>
</div>
</form>
